.App {
  text-align: center;
}

.textfield {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 452px;
  margin: auto;
  text-align: left;
}

.textfield-icon {
  display: inline-block;
  margin-bottom: -5px;
  width: 26px;
  height: 26px;
}

.textfield-label {
  display: inline-block;
  margin: 0px;
  margin-bottom: -2px;
  padding-left: 8px;
  font-size: 20px;
  font-weight: 700;
}

.text-entry {
  margin-top: 10px;
  height: 49px;
  width: 452px;
  font-size: 25px;
}

.link {
  color: #0fb785;
  text-decoration: none;
}
