.pagination{
  display:flex;
 justify-content: center;
 background-color: none;
}



.avatar-item{
  background-color: #FFFFFF;
  height:40px;
  width:40px;
  border-radius: 50px;
  background-color: none;
  box-shadow: 0px 9px 20px 3px rgba(54, 54, 54, 0.06);
  margin:10px;
  padding: 5px;
  cursor: pointer;
}

.page-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #060606;
 height:100%;
  width:100%;

}

.page-link:active{
  background-color: #F27121;
  color:white;
  box-shadow: 0px 9px 20px 3px rgba(54, 54, 54, 0.06);
}

.avatar-item:hover, .page-link:hover {
  background-color: #F27121;
  color:white;
  box-shadow: 0px 9px 20px 3px rgba(54, 54, 54, 0.06);
}

