* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main-content {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.content {
  width: 100%;
  height: 100%;
}

.content-txt {
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  top: 80px;
  z-index: 50;
  margin-top: 100px;
  left: 50px;
  text-align: left;
}

.register-btn {
  color: #8f2a7e;
  font-size: 25px;
  font-weight: bold;
  background-color: #ffffff;
  height: 60px;
  position: absolute;
  top: 100px;
  z-index: 50;
  margin-top: 330px;
  left: 50px;
  border-radius: 10px;
  border: none;
  width: 300px;
  cursor: pointer;
}

.public-favour-text-below {
  margin-top: 20px;
  color: #9b9b9b;
}

.register-btn:hover {
  transition-duration: 0.3s;
  background-color: #ff6122;
  color: #ffffff;
}
.register-btn:focus {
  outline: none;
  color: #ffffff;
  background-color: #ff6122;
}

.content-txt-below {
  color: #ffffff;
  position: absolute;
  top: 50px;
  z-index: 50;
  font-size: 20px;
  margin-top: 300px;
  left: 50px;
  text-align: left;
}

.public-title {
  font-size: 50px;
}

.background-img {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: hidden;
}

.isometric-img {
  position: absolute;
  z-index: 15;
  right: 50px;
  top: 100px;
}
