

.signin-img-text {
  margin-top: 30px;
}

.signin-desc-header {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0px;
}

.signin-desc-body {
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  width: 550px;
}



.animation-login{
  margin-top:-50px;
  
}

.signin-grid {
  display: grid;
  grid-template-columns: 872px auto;
}

.signin-img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 872px;
  height: 1073px;
}

.signin-title {
  margin: 40px 0px;
}

.signin-button {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 10px 0px;
  width: 452px;
  background-color: #01c48a;
  border-radius: 15px;
  cursor: pointer;
}

.cancel-button {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 10px 0px;
  margin-top:20px;
  margin-bottom: 10px;
  background-color: #ec3030;
  border-radius: 15px;
  cursor: pointer;
  width: 452px !important;
}

.signin-account-text {
  margin-top: 0px;
  font-size: 20px;
  cursor: pointer;
}


.slide {
  position: absolute;
  top: 0px;
  left: -1000px;
  z-index: -1;
  width: 872px;
  height: 1073px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}


.slide-up {
  position: relative;
  top: -1000px;
  -webkit-animation: slide 0.25s forwards;
  -webkit-animation-delay: 0.25s;
  animation: slideup 0.25s forwards;
  animation-delay: 0.25s;
}


@-webkit-keyframes slideup {
  100% { 
    top:0;}
}

@keyframes slideup {
  100% { 
    top:0; }
}