#iou-logo-txt {
  color: #464646 !important;
  font-size: 40px !important;
}

.navbar-top {
  position: absolute !important;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 7.5vh;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08);
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
}

.nav-middle {
  margin: 0% auto;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
  width: 25%;
  margin-right: 0%;
}

#home-txt {
  margin-top: 1%;
  color: #464646;
  border-bottom: 3px solid #ffffff;
  cursor: pointer;
  text-decoration: none !important;
}

#home-txt:hover {
  /* border-bottom: 3px solid #8a2980 !important; */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 40%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.leaderboard-txt {
  margin-top: 1%;
  color: #464646;
  border-bottom: 3px solid #ffffff;
  cursor: pointer;
  text-decoration: none !important;
}

.leaderboard-txt:hover {
  /* border-bottom: 3px solid #8a29809a !important; */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.signin-btn {
  transition-duration: 0.3s;
  font-family: 'Montserrat', sans-serif;
  background-color: #0cbe88;
  border-radius: 5px;
  width: 180px;
  height: 30px;
  border: 2px solid #0cbe88;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.signin-btn:hover {
  transition-duration: 0.3s;
  background-color: #269c79;
  color: #ffffff;
}
.signin-btn:focus {
  outline: none;
  color: #ffffff;
  background-color: #269c79;
}

.signout-btn {
  transition-duration: 0.3s;
  font-family: 'Montserrat', sans-serif;
  background-color: #cc4634;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 2px solid #cc4634;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.signout-btn:hover {
  transition-duration: 0.3s;
  background-color: #d1341f;
  color: #ffffff;
}
.signout-btn:focus {
  outline: none;
  color: #ffffff;
  background-color: #d1341f;
}
.nav-logo {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-right: 20px;
}
.top-right {
  vertical-align: middle;
}

#home-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-animation: slide-down 0.4s ease-out;
  -moz-animation: slide-down 0.4s ease-out;
  animation: slide-down 0.4s ease-out;
}
#account-stack {
  display: none;
  -webkit-animation: slide-down 0.4s ease-out;
  -moz-animation: slide-down 0.4s ease-out;
  animation: slide-down 0.4s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-input {
  background: #f2f2f2;
  width: 550px;
  height: 35px;
  border: 2px solid #f2f2f2;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  padding-left: 15px;
  font-size: 14px;
  box-shadow: none !important;
  transition-duration: 0.7s;
  caret-color: #8a2980;
}
.search-input:hover,
.search-input:focus {
  transition-duration: 0.7s;
  outline: none;
  border: 2px solid #8a2980;
}
.search-input:hover + .search-btn {
  transition-duration: 0.7s;
  outline: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #8a2980;
}
.search-input:focus + .search-btn {
  transition-duration: 0.7s;
  outline: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #8a2980;
}
.search-input:hover ~ .search-btn .search-icon {
  color: #ffffff;
}
.search-input:focus ~ .search-btn .search-icon {
  color: #ffffff;
}

.search-btn {
  transition-duration: 0.7s;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #8a2980;
  padding: 0 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
  float: right;
  position: absolute;
  right: 0px;
  width: 70px;
  outline: 0;
  cursor: pointer;
}
.search-btn:hover {
  transition-duration: 0.15s;
  background-color: #8a2980;
}
.search-btn:hover .search-icon {
  color: #ffffff;
}
.search-form {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

@media screen and (max-width:1280px) {
  #home-txt {
    margin-top: 1%;
    font-size: 1em;
    margin-right:10px;
    color: #464646;
    border-bottom: 3px solid #ffffff;
    cursor: pointer;
    text-decoration: none !important;
  }

  
#leaderboard-txt {
  margin-top: 1%;
  color: #464646;
  margin-right:10px;
  border-bottom: 3px solid #ffffff;
  cursor: pointer;
  text-decoration: none !important;
}

.signout-btn {
  transition-duration: 0.3s;
  font-family: 'Montserrat', sans-serif;
  background-color: #0cbe88;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 2px solid #0cbe88;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
}