.party-favours-card {
  width: 1000px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  border: 2px solid #dbdbdb;
  -webkit-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  -moz-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  background-color: white;
}

.party-favours-card-square-bg {
  background-color: #ff6464;
  width: 100px;
  float: left;
  overflow: hidden;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
}

.party-card-text {
  color: #596773;
  font-size: 20px;
  font-weight: bold;
}

.party-attendees > * {
  display: inline-block;
  margin: 15px auto !important;
  margin-left: -50px !important;
}
