* {
  font-family: "Poppins", sans-serif;
}

.FulfillFavour {
  background-image: url("../../assets/FavourBackground.png");
}

.greybox-centre {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

#form-title h1 {
  text-align: left;
  margin-left: 10%;
  color: white;
}

#form-content label {
  color: #676767;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

#form-content input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
  border: 3px solid #8a2980;
  outline: none;
}

#form-content input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
select {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  color: #8b9ca8;
}

#form-content input[type="file"] {
  background-color: white;
}

::placeholder {
  color: #8b9ca8;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

#form-content input[type="submit"] {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 10px 0px;
  width: 250px;
  background-color: #01c48a;
  border-radius: 15px;
  cursor: pointer;
  border-color: #01c48a;
  border-style: none;
}

#form-content input[type="submit"]:hover {
  background-color: #01c48a;
}

#form-content input[type="submit"]:focus {
  outline: none;
}

/* Hide Arrows Number Input */
#form-content input::-webkit-outer-spin-button,
#form-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide Arrows Number Input */
#form-content input[type="number"] {
  -moz-appearance: textfield;
}
/* Hide Arrows Select Input */
#form-content select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* Hide Arrows Select Input */
#form-content select::-ms-expand {
  display: none;
}

#form-content .greybox {
  border-radius: 15px;
  background-color: #f6f6f6;
  border-color: #dbdbdb;
  padding: 90px;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 80%;
  box-shadow: 1px 1px 2px 2px #ccc;
}

.form-submit {
  text-align: center;
}
