.friend {
  display: grid;
  grid-template-columns: 135px 250px;
}

.friend-card {
  width: 65%;
  height: 100px;
  margin: 25px auto;
  border-radius: 10px;
  border: 2px solid #dbdbdb;
  -webkit-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  -moz-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
}

.avatar {
  width: 70px !important;
  height: 100px !important;
}

.friend-card-square-bg {
  background-color: #ff6464;
  height: 100%;
  float: left;
  width: 100px;
  overflow: hidden;
}

.friend-title-txt {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  float: left;
  margin-right: 30px;
  font-size: 30px;
  color: #8b9ca8;
}

.friend-points-text {
  color: #15b987;
  clear: left;
  text-align: left;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 20px;
}

.friend * {
  align-content: center;
}

.friend-desc {
  background-color: white;
  height: 155px;
  -webkit-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  -moz-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
}

.friend-desc > p {
  margin-top: 20px;
  font-size: 30px;
  color: #8b9ca8;
  font-weight: bold;
}

.friend img {
  height: 155px;
  background-color: #ff6efb;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  -moz-box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
  box-shadow: 0px 9px 20px 3px rgba(26, 26, 26, 0.16);
}

.view-profile {
  margin-top: 10px;
  width: 130px;
  height: 30px;
  display: inline-block;
  color: #4d6bff;
  background-color: #afd2ff;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 30px;
  cursor: pointer;
}

.view-profile:hover {
  color: #afd2ff;
  background-color: #4d6bff;
}

.view-profile p {
  margin-top: 7px;
  font-size: 10px;
}

.do-friend-btn {
  float: right;
  transition-duration: 0.3s;
  font-family: 'Montserrat', sans-serif;
  background: #01c48a;
  border-radius: 5px;
  width: 150px;
  border: none;
  margin-top: -60px;
  margin-right: 40px;
  height: 40px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
